-
	var
		header_logo_title = 'Fresh Generation Marketing Service',
		header_nav_link = [
			{
				title: 'Услуги',
				href: '#services'
			},
			{
				title: 'Портфолио',
				href: '#portfolio'
			},
			{
				title: 'Наша команда',
				href: '#command',
				class: 'header_nav__link_hidden'
			},
			{
				title: 'Наши преимущества',
				href: '#advantages'
			},
			{
				title: 'Как мы работаем',
				href: '#how_we_are_working',
				class: 'header_nav__link_hidden'
			},
			
			{
				title: 'Контакты',
				href: '#contacts'
			}
		]

.header.flex-container

	//- logo
	//- a.header_logo.header_logo_link
	img.header_logo__image(
		src="images/logo.png", 
		alt= header_logo_title, 
		title=header_logo_title)

	//- nav-menu
	.header_nav
		each value in header_nav_link
			if value.class
				a.header_nav__link(href=value.href, title=value.title, class= value.class)= value.title
			else
				a.header_nav__link(href=value.href, title=value.title)= value.title
		//- a.button.button-close x
	.lang_wrapper
		a(href="https://fgmarketing.agency/en/") EN
		|  / 
		a().active RU
	div

		a.button.button_notxt.button-menu.open_menu
			i.ico.menu
			|  Меню
		a.button.button_notxt.button-phone.popup-with-form(href="#form_modal", type-of-form= 'Заказать звонок') 
			i.ico.phone-call
			|  Заказать звонок

.flex-container.course_block